@tailwind base;
@tailwind components;
@tailwind utilities;

body {}

@layer utilities {}

::-webkit-scrollbar {
  display: none;
}

::placeholder {
  font-size: 13px;
  font-weight: 400;
}

.containerMargin {
  margin-inline: 1.2rem;
}

@media screen and (min-width: 1440px) {
  .containerMargin {
    max-width: 1440px;
    margin-inline: auto;
  }
}